body {
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    margin: 0;
    text-align: left;
    height: 100vh;
    background-color: $bg-color;
    font-style: italic;
}

#weather-app {
    padding: 10px 20px;
    height: 100%;

    @include themify($themes) {
        background-image: linear-gradient(167deg, $color 40%, $bg-color calc(40% + 2px));

        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
            background-image: linear-gradient(102deg, $color 45%, $bg-color calc(45% + 2px));
        }
    }

    #logo {
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
            order: 1;
        }
    
        .logo-img {
            background: url('~@/assets/logosm.png') no-repeat;
            background-size: cover;
            text-indent: -1000rem;
            width: 127px;
            height: 53px;
            display: inline-block;
            line-height: inherit;
            white-space: nowrap;
            
            @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
                background: url('~@/assets/logo.png') no-repeat;
                width: 181px;
                height: 75px;
            }
        }
    }
    
    #icon {
    
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
            order: 3;
        }
        
        .icon-container {
            padding: 18px;
            text-align: center;
        }
    }
    
    #weather {

        position: relative;
        top: -30px;
    
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
            order: 4;
            position: relative;
            top: 0px;
            left: -20px;
        }
    
        .city {
            font-size: 1.44rem;
            font-weight: 300;
            text-transform: uppercase;
            font-style: italic;
            color: #ccc;
            margin-bottom: 1.5rem;
    
            @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
                font-size: 2.25rem;
            }
        }
    
        .weather-text {
            font-style: italic;
            text-transform: uppercase;
            font-weight: bolder;
            font-size: 70px;
            margin: 0;
            letter-spacing: -4px;
            line-height: 65px;
        
            @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
                font-size: 110px;
                line-height: 100px;
                height: 200px;
            }
        }
    
        .current-weather {
            display: flex;
            justify-content: space-between;
            align-items: center;
        
            .temperature {
                width: 115px;
                height: 115px;
                border-radius: 50%;
                font-size: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                float: right;
    
                @include themify($themes) {
                    background-color: $color;
                }
                
                sup, &:after {
                    font-size: 26px;
                    color: #1f1f1f;
                }
    
                sup:before {
                    content: "\00B0";
                }
    
                @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
                    float: left;
                    font-size: 60px;
                    width: 160px;
                    height: 160px;
                }
            }
        }
    }
    
    #navigation {
    
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
            order: 2;
        }
    
        .list-group {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            margin: 0;
            padding-left: 0;
            font-weight: 300;
            align-items: center;
            float: right;
        
            .list-group-item {
                position: relative;
                display: block;
                padding: 0 .5rem;
        
                &:first-child {
                    padding-left: 0;
                }
        
                &:last-child {
                    padding-right: 0;
                }
        
                &.active {
                    @include themify($themes) {
                        color: $color;
                    }
        
                    &:before {
                        width: 0;
                        height: 0;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        
                        content: " ";
                        position: absolute;
                        top: -8px;
                        left: 50%;
                        transform: translate(-50%, 0);
    
                        @include themify($themes) {
                            border-bottom: 6px solid $color;
                        }
                    }
    
                    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
                        &:before {
                            border: none;
                        }
    
                        &:after {
                            width: 0;
                            height: 0;
                            border-left: 6px solid transparent;
                            border-right: 6px solid transparent;
                            
                            content: " ";
                            position: absolute;
                            bottom: -8px;
                            left: 50%;
                            transform: translate(-50%, 0);
        
                            @include themify($themes) {
                                border-top: 6px solid $color;
                            }   
                        }
                    }
                }
            }
        }
    }
    
    #footer {
        display: none;
    
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
            display: block;
            order: 5;
            float: right;
            text-align: right;
            font-size: .8rem;
            text-transform: uppercase;
    
            .copyright {
                @include themify($themes) {
                    color: $color;
                }  
            }
        }
    }
}