@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,800,800i&display=swap");
.container-fluid {
  margin: 0;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
}

.col-1 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-2 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-3 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-4 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-5 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-6 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-7 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-8 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-9 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-10 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-11 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-12 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-13 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-14 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-15 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-16 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-17 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-18 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-19 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-20 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5%;
          flex: 0 0 5%;
  max-width: 5%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  max-width: 10%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  max-width: 15%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  max-width: 30%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  max-width: 35%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  max-width: 45%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  max-width: 55%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 60%;
}

.col-13 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
  max-width: 65%;
}

.col-14 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  max-width: 70%;
}

.col-15 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-16 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  max-width: 80%;
}

.col-17 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 85%;
          flex: 0 0 85%;
  max-width: 85%;
}

.col-18 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
  max-width: 90%;
}

.col-19 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 95%;
          flex: 0 0 95%;
  max-width: 95%;
}

.col-20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.col-sm-1 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-sm-2 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-sm-3 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-sm-4 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-sm-5 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-sm-6 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-sm-7 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-sm-8 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-sm-9 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-sm-10 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-sm-11 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-sm-12 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-sm-13 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-sm-14 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-sm-15 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-sm-16 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-sm-17 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-sm-18 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-sm-19 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-sm-20 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 5%;
            flex: 0 0 5%;
    max-width: 5%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
    max-width: 10%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
    max-width: 15%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
    max-width: 35%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    max-width: 45%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
    max-width: 55%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
  }
  .col-sm-13 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
    max-width: 65%;
  }
  .col-sm-14 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }
  .col-sm-15 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-16 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .col-sm-17 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 85%;
            flex: 0 0 85%;
    max-width: 85%;
  }
  .col-sm-18 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    max-width: 90%;
  }
  .col-sm-19 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 95%;
            flex: 0 0 95%;
    max-width: 95%;
  }
  .col-sm-20 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-md-1 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-md-2 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-md-3 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-md-4 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-md-5 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-md-6 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-md-7 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-md-8 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-md-9 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-md-10 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-md-11 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-md-12 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-md-13 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-md-14 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-md-15 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-md-16 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-md-17 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-md-18 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-md-19 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-md-20 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 5%;
            flex: 0 0 5%;
    max-width: 5%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
    max-width: 10%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
    max-width: 15%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
    max-width: 35%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    max-width: 45%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
    max-width: 55%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
  }
  .col-md-13 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
    max-width: 65%;
  }
  .col-md-14 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }
  .col-md-15 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-16 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .col-md-17 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 85%;
            flex: 0 0 85%;
    max-width: 85%;
  }
  .col-md-18 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    max-width: 90%;
  }
  .col-md-19 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 95%;
            flex: 0 0 95%;
    max-width: 95%;
  }
  .col-md-20 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-lg-1 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-lg-2 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-lg-3 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-lg-4 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-lg-5 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-lg-6 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-lg-7 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-lg-8 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-lg-9 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-lg-10 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-lg-11 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-lg-12 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-lg-13 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-lg-14 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-lg-15 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-lg-16 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-lg-17 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-lg-18 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-lg-19 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-lg-20 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 5%;
            flex: 0 0 5%;
    max-width: 5%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
    max-width: 10%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
    max-width: 15%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
    max-width: 35%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    max-width: 45%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
    max-width: 55%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
  }
  .col-lg-13 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
    max-width: 65%;
  }
  .col-lg-14 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }
  .col-lg-15 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-16 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .col-lg-17 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 85%;
            flex: 0 0 85%;
    max-width: 85%;
  }
  .col-lg-18 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    max-width: 90%;
  }
  .col-lg-19 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 95%;
            flex: 0 0 95%;
    max-width: 95%;
  }
  .col-lg-20 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-xl-1 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-xl-2 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-xl-3 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-xl-4 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-xl-5 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-xl-6 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-xl-7 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-xl-8 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-xl-9 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-xl-10 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-xl-11 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-xl-12 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-xl-13 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-xl-14 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-xl-15 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-xl-16 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-xl-17 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-xl-18 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-xl-19 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.col-xl-20 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 5%;
            flex: 0 0 5%;
    max-width: 5%;
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
    max-width: 10%;
  }
  .col-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
    max-width: 15%;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }
  .col-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
    max-width: 35%;
  }
  .col-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
  }
  .col-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    max-width: 45%;
  }
  .col-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
    max-width: 55%;
  }
  .col-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
  }
  .col-xl-13 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
    max-width: 65%;
  }
  .col-xl-14 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }
  .col-xl-15 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-16 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .col-xl-17 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 85%;
            flex: 0 0 85%;
    max-width: 85%;
  }
  .col-xl-18 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    max-width: 90%;
  }
  .col-xl-19 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 95%;
            flex: 0 0 95%;
    max-width: 95%;
  }
  .col-xl-20 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: none;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.btn {
  color: inherit;
}

.btn-unit {
  background: none;
  font-weight: 300;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  font-style: italic;
  text-transform: uppercase;
  padding: 0;
}

.btn-unit:focus {
  border: none;
  outline: none;
}

.btn-place {
  padding: 1rem 2.5rem;
  -webkit-transform: skew(-14deg);
          transform: skew(-14deg);
  border-radius: .25rem;
  background: #100e10;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  margin-top: 2.25rem;
}

.theme-snowy .btn-place {
  border: 3px solid #00bbf8;
  color: #00bbf8;
}

.theme-sunny .btn-place {
  border: 3px solid #ffdc37;
  color: #ffdc37;
}

.theme-rainy .btn-place {
  border: 3px solid #5f04e9;
  color: #5f04e9;
}

.theme-cloudly .btn-place {
  border: 3px solid #04e980;
  color: #04e980;
}

.btn-place .skew-fix {
  display: inline-block;
  -webkit-transform: skew(14deg);
          transform: skew(14deg);
}

.btn-place:hover {
  color: #000;
}

.theme-snowy .btn-place:hover {
  background-color: #00bbf8;
}

.theme-sunny .btn-place:hover {
  background-color: #ffdc37;
}

.theme-rainy .btn-place:hover {
  background-color: #5f04e9;
}

.theme-cloudly .btn-place:hover {
  background-color: #04e980;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  margin: 0;
  text-align: left;
  height: 100vh;
  background-color: #100e10;
  font-style: italic;
}

#weather-app {
  padding: 10px 20px;
  height: 100%;
}

.theme-snowy #weather-app {
  background-image: linear-gradient(167deg, #00bbf8 40%, #100e10 calc(40% + 2px));
}

@media screen and (min-width: 576px) {
  .theme-snowy #weather-app {
    background-image: linear-gradient(102deg, #00bbf8 45%, #100e10 calc(45% + 2px));
  }
}

.theme-sunny #weather-app {
  background-image: linear-gradient(167deg, #ffdc37 40%, #100e10 calc(40% + 2px));
}

@media screen and (min-width: 576px) {
  .theme-sunny #weather-app {
    background-image: linear-gradient(102deg, #ffdc37 45%, #100e10 calc(45% + 2px));
  }
}

.theme-rainy #weather-app {
  background-image: linear-gradient(167deg, #5f04e9 40%, #100e10 calc(40% + 2px));
}

@media screen and (min-width: 576px) {
  .theme-rainy #weather-app {
    background-image: linear-gradient(102deg, #5f04e9 45%, #100e10 calc(45% + 2px));
  }
}

.theme-cloudly #weather-app {
  background-image: linear-gradient(167deg, #04e980 40%, #100e10 calc(40% + 2px));
}

@media screen and (min-width: 576px) {
  .theme-cloudly #weather-app {
    background-image: linear-gradient(102deg, #04e980 45%, #100e10 calc(45% + 2px));
  }
}

@media screen and (min-width: 576px) {
  #logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

#logo .logo {
  background: url("~@/assets/logosm.png") no-repeat;
  background-size: cover;
  text-indent: -1000rem;
  width: 127px;
  height: 53px;
  display: inline-block;
  line-height: inherit;
  white-space: nowrap;
}

@media screen and (min-width: 576px) {
  #logo .logo {
    background: url("~@/assets/logo.png") no-repeat;
    width: 181px;
    height: 75px;
  }
}

@media screen and (min-width: 576px) {
  #icon {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

#icon .icon-container {
  padding: 18px;
  text-align: center;
}

@media screen and (min-width: 576px) {
  #weather {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

#weather .city, #weather .city-input {
  font-size: 1.44rem;
  font-weight: 300;
  text-transform: uppercase;
  font-style: italic;
  color: #ccc;
  margin-bottom: 1rem;
}

@media screen and (min-width: 576px) {
  #weather .city, #weather .city-input {
    margin-bottom: 1.5rem;
    font-size: 2.25rem;
  }
}

#weather .weather-text {
  font-style: italic;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 70px;
  margin: 0;
  letter-spacing: -4px;
  line-height: 65px;
  word-break: break-all;
}

@media screen and (min-width: 576px) {
  #weather .weather-text {
    font-size: 110px;
    line-height: 100px;
  }
}

#weather .current-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#weather .current-weather .temperature {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  font-size: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  float: right;
}

.theme-snowy #weather .current-weather .temperature {
  background-color: #00bbf8;
}

.theme-sunny #weather .current-weather .temperature {
  background-color: #ffdc37;
}

.theme-rainy #weather .current-weather .temperature {
  background-color: #5f04e9;
}

.theme-cloudly #weather .current-weather .temperature {
  background-color: #04e980;
}

#weather .current-weather .temperature sup, #weather .current-weather .temperature:after {
  font-size: 26px;
  color: #1f1f1f;
}

#weather .current-weather .temperature sup:before {
  content: "\00B0";
}

@media screen and (min-width: 576px) {
  #weather .current-weather .temperature {
    float: left;
    font-size: 60px;
    width: 160px;
    height: 160px;
  }
}

@media screen and (min-width: 576px) {
  #navigation {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

#navigation .list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  font-weight: 300;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
}

#navigation .list-group .list-group-item {
  position: relative;
  display: block;
  padding: 0 .5rem;
}

#navigation .list-group .list-group-item:first-child {
  padding-left: 0;
}

#navigation .list-group .list-group-item:last-child {
  padding-right: 0;
}

.theme-snowy #navigation .list-group .list-group-item.active {
  color: #00bbf8;
}

.theme-sunny #navigation .list-group .list-group-item.active {
  color: #ffdc37;
}

.theme-rainy #navigation .list-group .list-group-item.active {
  color: #5f04e9;
}

.theme-cloudly #navigation .list-group .list-group-item.active {
  color: #04e980;
}

#navigation .list-group .list-group-item.active:before {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: " ";
  position: absolute;
  top: -8px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.theme-snowy #navigation .list-group .list-group-item.active:before {
  border-bottom: 6px solid #00bbf8;
}

.theme-sunny #navigation .list-group .list-group-item.active:before {
  border-bottom: 6px solid #ffdc37;
}

.theme-rainy #navigation .list-group .list-group-item.active:before {
  border-bottom: 6px solid #5f04e9;
}

.theme-cloudly #navigation .list-group .list-group-item.active:before {
  border-bottom: 6px solid #04e980;
}

@media screen and (min-width: 576px) {
  #navigation .list-group .list-group-item.active:before {
    border: none;
  }
  #navigation .list-group .list-group-item.active:after {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: " ";
    position: absolute;
    bottom: -8px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .theme-snowy #navigation .list-group .list-group-item.active:after {
    border-top: 6px solid #00bbf8;
  }
  .theme-sunny #navigation .list-group .list-group-item.active:after {
    border-top: 6px solid #ffdc37;
  }
  .theme-rainy #navigation .list-group .list-group-item.active:after {
    border-top: 6px solid #5f04e9;
  }
  .theme-cloudly #navigation .list-group .list-group-item.active:after {
    border-top: 6px solid #04e980;
  }
}

#footer {
  display: none;
}

@media screen and (min-width: 576px) {
  #footer {
    display: block;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    float: right;
    text-align: right;
    font-size: .8rem;
    text-transform: uppercase;
  }
  .theme-snowy #footer .copyright {
    color: #00bbf8;
  }
  .theme-sunny #footer .copyright {
    color: #ffdc37;
  }
  .theme-rainy #footer .copyright {
    color: #5f04e9;
  }
  .theme-cloudly #footer .copyright {
    color: #04e980;
  }
}
/*# sourceMappingURL=global.css.map */